doctype html
html
  head
    title= movie.title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .dropdown
      h1= movie.title
      .dropdown-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]
    

    table 
      thead 
        td= movie.movieId
        td= movie.title
    
    table
      thead
        tr
          th
           p: #[a(href='/genres') Genres]
      tbody
        each genre in genres 
          td= genre.name
    
    table
      thead
        tr
          th User 
          th Rating 
          th watchDate
      tbody
        each viewer in viewers
          tr(class='row-link', data-url=`/userInfo/${viewer.userId}`)
            td= viewer.userId 
            td= viewer.rating 
            td= viewer.watchDate 
    
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.row-link').forEach(function(element) {
          element.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
          });
        });
      });