doctype html
html
  head
    title= movie.title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  body
    .dropdown
      h1= movie.title
      .dropdown-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]
    
    table 
      thead 
        th Id 
        th Title 
        th Rating
      tbody
        td= movie.movieId
        td= movie.title
        td= rating

    table
      thead
        tr
          th
           p: #[a(href='/genres') Genres]
      tbody
        each genre in genres 
          td= genre.name

    p
    canvas#genresChart(width='600', height='200',style="margin-left:30px; margin-right: 70px;")
    p
    table
      thead
        tr
          th User 
          th Rating 
          th Date
      tbody
        each viewer in viewers
          tr(class='row-link', data-url=`/userInfo/${viewer.userId}`)
            td= viewer.userId 
            td= viewer.rating 
            td= viewer.watchDate 
    
    script.
      ratingFrequencies = '#{ratingFrequencies}'.split(',');
      let dataset = [];
      for (var i=0; i<1; i++) {
        dataset.push({
          label: 'User Ratings',
          data: ratingFrequencies,
          borderWidth: 1,
        });
      }
      
      const ctx = document.getElementById('genresChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0'],
          datasets: dataset
        },
        options: {
          scales: {
            y: {
              title: { text:'Frequency', display: true },
              beginAtZero: true
            },
            x: {
              title: { text: 'Rating ?/5', display: true}
            }
          },
          plugins: {
            title: {text: 'Rating Distribution', display: true},
            legend: {
              display: false
            }
          }
        }
      });