doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]
    
    table 
      thead
        each col in allCols
          th
            form(action='/films', method='GET')
              input(type='hidden', name='col', id='col', value=col)
              input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
              input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
              input(type='hidden', name='itemNum', id='itemNum', value=itemNum)
              button(type='submit') #{col}
    
    .button_bar
      form(action='/films', method='GET')
        label(for='searchQuery')
        input(type='text', name='searchQuery', id='searchQuery', placeholder='search keywords')
        input(type='hidden', name='col', id='col', value=col)
        input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
        button(type='submit') Search

    .button_bar
      form(action='/films', method='GET')
        input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum+30)
        button(type='submit') Next Page
    
    .button_bar
      form(action='/films', method='GET')
        input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum-30)
        button(type='submit') Previous Page

    table
      thead
        tr
          each title in shownCols
            th= title
      tbody
        each row in data
          tr(class='row-link', data-url=`/films/${row.userId}`)
            each title in shownCols 
              td= row[title]

    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.row-link').forEach(function(element) {
          element.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
          });
        });
      });