doctype html
html
  head
    title= title
    //-
      body covers whole page
      h1 covers header
      table, th, td, label covers the table and its contents
      input, button covers the query search
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
      }
  
      h1 {
        color: #333;
      }

      table {
        width: 90%;
        margin: 20px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      } 
      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
      }

      
      input[type='text'] {
        width: 200px;
        padding: 8px;
      }
      button {
        padding: 8px 12px;
        background-color: #85ceeb;
        color: #333;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background-color: #00bfff;
      }
  body
    h1= title

    table 
      thead
        each col in allCols
          th
            form(action='/films', method='GET')
              input(type='hidden', name='col', id='col', value=col)
              input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
              input(type='hidden', name='query', id='query', value='%')
              button(type='submit') #{col}
    
    form(action='/films', method='GET')
      label(for='query')
      input(type='text', name='query', id='query', placeholder='search keywords')
      input(type='hidden', name='col', id='col', value=col)
      input(type='hidden', name='shownCols', id='shownCols', value=shownCols)
      button(type='submit') Search

    table
      thead
        tr
          each title in shownCols
            th= title
      tbody
        each row in data
          tr(class='row-link', data-url=`/films/${row.userId}`)
            each title in shownCols 
              td= row[title]

    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.row-link').forEach(function(element) {
          element.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
          });
        });
      });