doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]

    table
      thead
        tr
          th Id 
          th Genre
      tbody
        each genre in genres
          tr(class='row-link', data-url=`/genreInfo/${genre.genreId}`)
            td= genre.genreId
            td= genre.name
    
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.row-link').forEach(function(element) {
          element.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
          });
        });
      });