doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/films') Films] #[a(href='/genres') Genres]
    p Rating Average: #{genreData.ratingAv}
    //- make distribution into a graph
    p Rating Distribution: #{genreData.ratingDistribution}
    p 
      a(href='/genres')= see all genres