doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: [a(href="/") Home ] #[a(href='/films') Films] #[a(href='/genres') Genres]
    h2 Most Polarizing Genres
    canvas#polarizingGenresChart(width='800', height='400')
    script.
      var ctx = document.getElementById('polarizingGenresChart').getContext('2d');
      var polarizingGenresChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['#{mostPolarizingGenres[0].name}', '#{mostPolarizingGenres[1].name}', '#{mostPolarizingGenres[2].name}', '#{mostPolarizingGenres[3].name}', '#{mostPolarizingGenres[4].name}'],
          datasets: [{
            label: 'Standard Deviation',
            data: [#{mostPolarizingGenres[0].standardDeviation}, #{mostPolarizingGenres[1].standardDeviation}, #{mostPolarizingGenres[2].standardDeviation}, #{mostPolarizingGenres[3].standardDeviation}, #{mostPolarizingGenres[4].standardDeviation}],
            backgroundColor: [
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    p
      a(href='/genres')= 'See All Genres'
      a(href='/movieId-distribution')= 'View MovieId Distribution'
