doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]
    p Tags: #{tags}
    p Predicted Rating by Tag: #{tagRate}
    p Predicted Rating by Previews: #{previewRate}

    form(action='/predict/add_tag', method='GET')
      label(for='next_tag')
      input(type='text', name='next_tag', id='next_tag', placeholder='add tag')
      button(type='submit') Tags
      input(type='hidden', name='tags', value="<%= tags %>")
      input(type='hidden', name='tagRate', value="<%= tagRate %>")
      input(type='hidden', name='previewRate', value="<%= previewRate %>")

    form(action='/predict/add_review', method='GET')
      label(for='next_review')
      input(type='number', name='next_review', id='next_review', placeholder='add review')
      button(type='submit')
      input(type='hidden', name='tags', value="<%= tags %>")
      input(type='hidden', name='tagRate', value="<%= tagRate %>")
      input(type='hidden', name='previewRate', value="<%= previewRate %>")
