doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]

    .button_bar
      form(action="/predict", method="get")
        input(type="text", name="searchQuery", placeholder="Search tags...", value=searchQuery)
        button(type="submit") Search

    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', value=itemNum-30)
        button(type='submit') Previous Page
    
    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', value=itemNum+30)
        button(type='submit') Next Page
    
    h2 Selected Tags
    ul#selectedTagsList
      each tag in selectedTags
        li= tag

    if averageRating
      h2 Average Rating for Selected Tag: #{averageRating}

    table
      thead
        tr
          th Tag
          th User ID
      tbody
        each tag in tags
          tr
            td
              a(href=`/predict?selectedTags=${selectedTags.join(',')},${tag.tag}&searchQuery=${searchQuery}&itemNum=${itemNum}`)= tag.tag
            td= tag.userId

    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', value=itemNum-30)
        button(type='submit') Previous Page
    
    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', value=itemNum+30)
        button(type='submit') Next Page
