doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p: #[a(href='/') Home] #[a(href='/films') Films] #[a(href='/genres') Genres] #[a(href='/predict') Predict Performance]

    .button_bar
      form(action="/predict", method="get")
        input(type="text", name="searchQuery", placeholder="Search tags...", value=searchQuery)
        button(type="submit") Search

    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum-30)
        button(type='submit') Previous Page
    
    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum+30)
        button(type='submit') Next Page
    

    h2 Selected Tags
    ul#selectedTagsList

    h2 Average Rating: #{tagAverages}
 

    table
      thead
        tr
          th Tag ID
          th User ID
      tbody
        each tag in tags
          tr(data-tag-id=tag.tagId onclick="toggleTagSelection(this)")
            td= tag.tagId
            td= tag.userId 



    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum-30)
        button(type='submit') Previous Page
    
    .button_bar
      form(action='/predict', method='GET')
        input(type='hidden', name='searchQuery', id='searchQuery', value=searchQuery)
        input(type='hidden', name='itemNum', id='itemNum', value=itemNum+30)
        button(type='submit') Next Page

    script.
      var selectedTags = [];

      function toggleTagSelection(row) {
        var tagId = row.getAttribute('data-tag-id');
        var index = selectedTags.indexOf(tagId);
        if (index === -1) {
          selectedTags.push(tagId);
        } else {
          selectedTags.splice(index, 1);
        }
        updateSelectedTagsDisplay();
      }

      function updateSelectedTagsDisplay() {
        var listElement = document.getElementById('selectedTagsList');
        listElement.innerHTML = '';
        selectedTags.forEach(function(tagId) {
          var listItem = document.createElement('li');
          listItem.textContent = 'Tag ID: ' + tagId;
          listElement.appendChild(listItem);
        });
      }